/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------------------------------------------------------------------------------------
  ------------------------------------------- Custome Styles ------------------------------------
-------------------------------------------------------------------------------------------- */

/* Setting up font styles for whole page */

html {
    font-family: 'Montserrat', sans-serif;
<<<<<<< HEAD
    box-sizing: border-box;

}

/* Setting container width to allow for whitespace on sides of elements */

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #f7f7ff;
}

/* ----HEADER---- */

/*  Adding flex to header */
header {
    display: flex;
    flex-direction: column;
}

/* Sizing header image */
header img {
    max-width: 30%;
    height: 0 auto;
    padding: 15px;

}

/* ----BODY---- */

/* Adding line space for readability  */
body {
	line-height: 1.5;
}

/* ----MAIN---- */

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    

}

/* Styling section text & Image */

.section-text h1 {
    font-size: 3em;
    font-weight: bold;
}

.section-text p {
    font-size: 1.5em;
}

section img {
    width: 100%;
    height: 180px;

}

/* Styling form section */

.section-form {
    width: auto;
    margin: 60px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
}


.section-form-text h2 {
    font-size: 1.5em;
    font-weight: bold;

}

.section-form-text p {
    font-size: 0.5em;
    font-weight: bold;
}

.section-form input  {
    margin: 7px;
    padding: 5px;
    background: #f7f7ff;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 10px;
    color: #A9A9A9;
    
    
}

.section-form .section-checkbox label{
     font-size: 0.5em;
     font-weight: bold;
}


.section-btn .btn {
     border: 1px solid #ccc;
     border-radius: 5px;
     background: #4ba47c;
     font-weight: bold;
     padding: 5px;
}

.section-form-link {
    font-size: 0.5em;
}

.section-form-link a {
    color: #ff8480;
}

/* ----FOOTER---- */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    background: #fffd8c;
    margin: -0.5px;
}

.footer-text h3{
     font-size: 12px;
     font-weight: bold;
     margin: 5px;
}

.footer-text p{
    font-size: 12px;
    margin: 5px;
}

.footer-form input  {
    margin: 7px;
    padding: 5px;
    background: #f7f7ff;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 10px;
    color: #A9A9A9;
       
}

.footer-btn .btn-2 {
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #ff8480;
        font-weight: bold;
        padding: 5px;
        color: white;

}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

































































/* 
=======
    /* box-sizing: border-box; */

}

>>>>>>> 0664c6680aca02b15e609a874b3cad0c40b59c37
/* .section {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1;
    /* grid-auto-flow: dense; */
/* align-items: center;
    margin: 10px auto;
    padding: 10px;
}
header img {
    width: 15%;
    padding: 10px;
} */
<<<<<<< HEAD
/* .header-container {
=======
 .header-container {
>>>>>>> 0664c6680aca02b15e609a874b3cad0c40b59c37
    grid-area: header;
}

.main-container {
    grid-area: section;
}

.footer-container {
    grid-area: footer;
}

.container {
    display: grid;
    gap: 15px;
    grid-template-areas:
        "header"
        "section"
        "footer";
<<<<<<< HEAD
} */

/* ------------------------------Media Query for Width 500px --------------------------------- */

/* @media (min-width: 500px) {
    .container {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header header"
            "section section"
            "footer footer"
    } */
=======
}

/* ------------------------------Media Query for Width 500px --------------------------------- */

@media (min-width: 500px) {
    .container {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
        "header header"
        "section section"
        "footer footer"
    }
>>>>>>> 0664c6680aca02b15e609a874b3cad0c40b59c37




<<<<<<< HEAD
    /* ------------------------------Media Query for Width 700px --------------------------------- */


    /* @media (min-width: 700px) {
        .container {
            grid-template-columns: 2fr 2fr 2fr;
            grid-template-areas:
                "header header header"
                "section section section"
                "footer footer footer"
        }
    } */ */
=======
        /* ------------------------------Media Query for Width 700px --------------------------------- */


    @media (min-width: 700px) {
        .container {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
            "header header header"
            "section section section"
            "footer footer footer"
        }
    }
>>>>>>> 0664c6680aca02b15e609a874b3cad0c40b59c37




}