/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ----------------------------------------------------------------------------------------
  ------------------------------------------- Custome Styles ------------------------------------
-------------------------------------------------------------------------------------------- */


/* *************************************
Fix outside spacing for Mobile
*********************************** */
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 20px;
}

section#hero {
    padding: 0px;
}

body {
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

img {
    width: 100%;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 5.063rem;

}

h2 {
    font-size: 3.375rem;

}

h3 {
    font-size: 2.25rem;

}

p {
    font-size: 16px;
    padding: 12px;
}

/* ---Button Styles--- */

.btn span.icon {
    vertical-align: middle;
    padding-left: 15px;
}

.btn {
    display: inline-block;
    font-size: 16px;
    padding: 1.5em 1.5em;
    text-decoration: none;
}

.btn-gold {
    background-color: #C78B07;
    color: black;
}

.btn-black {
    background-color: #222;
    color: white;
}

.btn-blue {
    background-color: #032d5f;
    border: 1px solid #c78c06;
}

.btn-gold a {
    color: black;
}

.btn-black a {
    color: white;
}

.btn-blue a {
    color: white;
}



.site-header,
.site-footer {
    background-color: #222;
    padding: 15px;
}

/* --------Header------- */

/* Nav */

/* ************************************************************
 spacing between navs and searchbox
*/
.nav-bar {
    height: 400px;
}

.nav-logo {
    background: #c78c06;
    height: 46px;
}

.nav-logo img {
    width: 100px;
    padding: 15px;
}


nav li a {
    display: block;
    color: #c78c06;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

nav li.active a {
    background: #c78c06;
    color: #222;
}

.search-bar {
    display: flex;
    height: 46px;
}

.search-bar-input {
    display: flex;
    flex: 1;
}

.search-bar button {
    display: flex;
    flex: 0;
    padding: 4px;
}

.search-butt {
    float: right;
    border: 1px solid #c78c06;
    background: #222;
    color: #c78c06;

}

/* Banner */

.banner {
    background-image: url(../images/main-banner.jpg);
    background-position: center;
    padding: 40px 0px 40px 0px;
}

.banner-text {
    background: rgb(0, 0, 0, 0.6);
    color: white;
    padding: 40px;
    width: 100%;
}





/* --About us-- */

#about-us img {
    padding: 10px;
}


/* Adding background bleed to elements */
#about-us,
.team-member {
    background: #ffe6ac;
}

.team-text {
    padding: 20px;
}
/* Adding margin between services */

.service-item {
    margin: 1em;
    background: #ffe6ac;
}

.service-item-inner {
    padding: 20px;
}

/* adding buttons for service area */



/* -------Our Vision----------- */

#vision {
    background-image: url(../images/vision.jpg);
    background-position: center;
    color: white;
}


/* -------------Our Team------------------ */

/* **********************************************
Fix spacing between img and text areas, center lines
***************************************************/

#team h4 {
    border-bottom: 2px solid #C78B07;
}

#team div {
    margin-top: 15px;
}

/* ------------Contact Form ----------------------- */

.contact-form div {
    margin-bottom: 15px;
}

input[type=text],
textarea {
    width: 100%;
}

.contact-form button {
    display: inline-block;
    background-color: #222;
    color: #C78B07;
    font-size: 18px;
    padding: 4px;

}

/* Table */

/* ******************************************
          Figure out table
*************************************************/

table.hours {
    width: 100%;
}
table.hours th, table.hours td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

table.hours th {
    background:#ffe6ac;
}



.site-footer p {
    color: #C78B07;
    padding: 4px;
}


.location iframe {
    width: 100%;
}

.service-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-areas: 
    "digital marketing"
    "video web web";
}

.digital {
    display: grid;
    grid-area: digital;
}

.marketing {
    display: grid;
    grid-area: marketing;
}

.video {
    display: grid;
    grid-area: video;
}

.web {
    display: grid;
    grid-area: web;
}

.print {
    display: grid;
    grid-area: print;
}



/* ----------------------------------------------------------------------------------------
  ------------------------------------------- DESKTOP style ------------------------------------
-------------------------------------------------------------------------------------------- */

@media screen and (min-width: 760px) {
                
    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        height: 100px;
    }

    .nav-list li {
        float: left;
        padding: 0px 10px 0px 10px;
    }

    .nav-logo {
        background: none;
        height: 46px;
    }

    .nav-logo img {
        height: 60px;
        width: 60px;
        padding: 0px;
    }

    .service-area {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 100px 100px 100px;
        grid-template-areas:
            "digital marketing"
            "video web print";
    }


}