/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ----------------------------------------------------------------------------------------
  ------------------------------------------- Global Styles ------------------------------------
-------------------------------------------------------------------------------------------- */

/* Adding padding and border to total height and width & setting background color for site */
html,
body {
	box-sizing: border-box;
	background-color: #040F0F;
}

/* Setting up max width and margin for container */

.container {
	max-width: 1200px;
	margin: 0 10%;

}

/* Setting up so site images are responsive */
.container img {
	max-width: 100%;
	height: auto;
}

.nav-bar a {
	text-decoration: none;
}

/* _______________Styling typography_________ */

/*  Setting up styles for navigation typography */
.nav-list a {
	text-transform: uppercase;
	font-family: 'Lexend Mega', sans-serif;
	color: #3C8F43;
}

/* Styling my site Headers */
h1,
h2 {
	text-transform: uppercase;
	font-family: 'Krona One', sans-serif;
	color: #EDD83D;
}

/* Styling body & footer text */
p {
	font-family: 'Varela Round', sans-serif;
	font-size: 12px;
	color: #E8E9F3;
	line-height: 16px;
}

/* Adding uppercases to my footer text */
.footer p {
	text-transform: uppercase;
}

/* Styling site thematic break lines */

.footer-hr {
	background: #EDD83D;
	height: 2px;
}

.about-hr-1,
.about-hr-2,
.contact-hr {
	background: #3C8F43;
	height: 2px;
}

.social-icons a {
	text-decoration: none;
}

.social-icons a {
	color: #E8E9F3;
	font-size: 25px;
	width: 100%;
}


/* /* ----------------------------------------------------------------------------------------
  ------------------------------------------- Mobile ------------------------------------
-------------------------------------------------------------------------------------------- */


/* Navigation bar */

/* Adding flex to site navigation, to make it display centered and vertically  */
.nav-list li {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.nav-list li a {
	display: block;
	padding-top: 25px;
}

.header-logo {
	display: none;
}

.mobile-eye {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;

}

/* resizing eyeball so it remains the same size for mobile page */
.mobile-eye img {
	max-width: 100px;
	
}

/* Mobile Footer */
.social-icons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

}

/* adding padding for space around social icons */
.social-icons a {
	padding: 20px 0 20px 0;
}

.footer p {
	padding-bottom: 30px;
}


/* -----Mobile Home page----- */

/* Adding space between all elements in the main section area */
.main-home div {
	padding: 25px 0 25px 0;
}



/* -----Mobile About page----- */


.main-about div {
	padding: 20px 0 20px 0;
}

/* centering eyeball logo to center of page */

.about-eye {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

/* -----Mobile Work page----- */

/* adding flex and row wrap to images so they can line up correctly  */
.work-images {
	display: flex;
	flex-flow: row wrap;
	padding: 20px 0 20px 0;
}

/* resizing images so they can fit x2 per row & align text so that
centers to artwork thumbails */
.work-images li {
	max-width: 42%;
	padding: 10px;
	text-align: center;
}

/* adding spacing betwee images and text  */
.work-images li p {
	padding: 5px;
}

/* algining ux images to center / adding spacing */
.ux-images li {
	padding: 20px 0 20px 0;
	text-align: center;
}

/* adding spacing betwee images and text  */
.ux-images li p {
	padding: 5px;
}


/* -----Mobile Contact page----- */


/* adding space to match other pages, using padding */
.main-contact img {
	padding: 20px 0 20px 0;
}

/* styling and sizing contact form  */
.contact-form {
	padding: 20px 0 20px 0;
	width: 100%;
	text-align: center;
}


input[type=text] {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px solid #E8E9F3;
	background-color: #040F0F;
}

textarea {
	width: 100%;
	height: 140px;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 2px solid #E8E9F3;
	background-color: #040F0F;
	resize: vertical;
}

input[type=text],
textarea {
	color: #E8E9F3;
	font-family: 'Varela Round', sans-serif;
	font-size: 7px;
	text-transform: uppercase;
}

/* Adding border to box in form information */
.form {
	background: #040F0F;
	border: 2px solid #E8E9F3;
	border-radius: 4px;
	padding: 10px 10px 10px 10px;
}

/* styling & sizing form submit button */
input[type=button],
input[type=submit],
input[type=reset] {
	background-color: #4CAF50;
	color: #E8E9F3;
	font-size: 12px;
	padding: 5px 10px;
	margin-top: 15px;
	text-decoration: none;
	border-radius: 4px;

}

