html {


}

header {
	background-color: #7DC576;
	padding-bottom: 20px;
}

main {
	
}

.logo {
	max-height: 150px;
	display: inline-block;
	width: 29%;
	float: left;
}

.title-container img {
	display: inline-block;
	max-height: 200px;
}

nav 
{

	margin-bottom: 10px;
}

p 
{
    font-size: 22px;
	font-family: "Roboto+Slab";
}

h1 {
	display: inline-block;
	width: 69%;
	float: left;
}

h1, h2 
{
	font-size: 30px;
	font-family: "Merriweather", sans-serif;
}

li 
{
	display: inline-block;
	background-color: #6CCFF6;
	margin-right: 20px;
	padding: 10px

}

.main-content {
	display: inline-block;
}

article {
	font-size: 16px;
	font-family: sans-serif;
	width: 66%;
	display: inline-block;
	border-right: 1px solid #e2e2e2;
	padding-right: 1px;
}

article img {
	max-height: 100px;

}

aside {
	margin: 5px;
	width: 30%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	padding-top: 90px;
}

.img-slide {
	margin: 0px;
}

aside img {
	max-width: 100%;

}

figcaption {
	font-size: 12px;
}

.image-gallery {

    display: block;
    padding-bottom: 20px;
}

.img-slide {

	display: inline-block;
	width: 30%;
	text-align: center;
}

small {
	display: block;
}

.img-slide img {
	max-height: 100px;
}

footer {
	background-color: #7DC576 ;
	padding-top: 10px; 
	padding-bottom: 10px;
}

.social-media img {
	max-height: 35px;

}

.social {
	display: inline-block;
	width: 49%;
	text-align: right;
}

.copyright {
	display: inline-block;
	width: 49%
}