/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------------------------------------------------------------------------------
  ------------------------------------------- Custome Styles ------------------------------------
-------------------------------------------------------------------------------------------- */

/* Styling for Mobile 1st */

/* Setting font type, size & border box to ensure that all elements padding and 
border are included in the width and height */
html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	box-sizing: border-box;
}

/* Styling navigation bar.*/
/* Adding size and space to fit, border and color for mobile styles */
nav {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	padding: 45px;
	border: 5px solid black;
	text-align: center;
	background-color: #F2466B;
}

/* Styling navigation links. Organizing links using flexbox.
   Adding underlines styles, font size & color */
nav .nav-link {
	display: flex;
	flex-direction: column;
	font-size: 40px;
	text-decoration: none;
	border-bottom: 3px solid #43AFE8;
	color: black;
}

/* Adding line space for readability  */
body {
	line-height: 1.5;
}


/* Setting width, margin, padding and styles for main section for mobile to match with 
navigation area  */
main {
	width: 300px;
	margin: 5px auto;
	padding: 45px;
	border: 5px solid black;
	background-color: #43AFE8;
}

/*  Adding padding to all sections, for consistency */
section {
	padding: 20px;
}


/* Adding all styles to headers */
h1,
h2 {
	font-weight: bold;
}

h1 {
	font-size: 5.063rem;
	text-decoration: underline;
	text-decoration-color: #F2466B;
	text-align: center;
}

h2 {
	font-size: 3.375rem;
	text-decoration: underline;
	text-decoration-color: #F2466B;
	text-align: center;
}

/* Adding styles for page paragraphs */

p {
	font-size: 16px;
	text-align: center;
	padding: 12px;
}

/*  Setting up weird guy image */
.about-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 150px;

}


/*  */
.contact-form {
	text-align: center;
	border: 5px solid black;
	padding-bottom: 20px;

}

.contact-form div {
	max-width: 300px;
	margin: 15px;
}

.contact-form-section {
	max-width: 300px;
	margin: 50px;
}

input[type=text],
textarea {
	width: 100%;
}


/* Styling page footer */
footer {
	width: 300px;
	margin: 0 auto;
	padding: 45px;
	border: 5px solid black;
	text-align: center;
	background-color: #F2466B;
}

/* Setting footer fonts styles */

footer p {
	font-size: 16px;
	font-weight: bold;
}



/* ----------------------------------------------------------------------------------------
  ------------------------------------------- Desktop Styles ------------------------------------
-------------------------------------------------------------------------------------------- */


@media screen and (min-width: 760px) {
	 
	nav,
	main,
	footer {
		width: 85%;	
	}

	nav .nav-link {
		display: flex;
		flex-direction: row;

	}

	h1,
	h2,
	p {
		text-align: left;
	}

	.about-image {
		float: left;
	}


}